<div class="navbar">
  <b (click)="mainhome()">E-Complaints</b>
</div>
<div class="main">
    <h1><b>New User Registration</b></h1>
    <form class="form" [formGroup]="signup" (ngSubmit)="onSubmit()">
      <div>
        <label>Email</label>
        <input matInput type="email" formControlName="email" required>
        <mat-error *ngIf="signup.controls['email'].invalid && signup.controls['email'].touched">
          Please enter a valid email address
        </mat-error>
      </div>
      <div>
        <label>Password</label>
        <input matInput type="password" formControlName="password" required minlength="6">
        <mat-error *ngIf="signup.controls['password'].invalid && signup.controls['password'].touched">
          Password must be at least 6 characters long
        </mat-error>
      </div>
      <div>
        <label>Confirm Password</label>
        <input matInput type="password" formControlName="confirmPassword" required>
        <mat-error *ngIf="signup.controls['confirmPassword'].invalid && signup.controls['confirmPassword'].touched">
          Passwords must match
        </mat-error>
      </div>
      <button mat-raised-button color="primary" type="submit" (click)="home()" [disabled]="signup.invalid">
        Sign up
      </button>
      <p>Already Have Account?..<a class="navigate" (click)="customer()">Click Here To Login</a></p>
    </form>
  </div>